.top-menu  {
    background-color: #0e4eae;
    border-bottom: 1px solid #ebebeb;
    padding: 0 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    h3 {
        font-size: 1.5rem;
        font-weight: 400;
        color: #e1e1e1;
    }

}
