form {
  width: 100%;
  padding: 20px;
  border: solid 1px #ccc;
  background-color: #f5f5f5;
  border-radius: 10px;
}
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
}
.grid-half {
  grid-template-columns: 1fr 1fr !important;
}
.control {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  input {
    padding: 10px;
    font-size: 1rem;
    border: solid 1px #ccc;
    border-radius: 5px;
    letter-spacing: 1px;
  }
  label {
    margin-bottom: 5px;
    font-size: 1rem;

  }
  .validations {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    font-size: 0.8rem;
    color: red;
  }
}
.valid-control {
  border: solid 1px rgb(53, 153, 96) !important;
}
.actions {
  display: flex;
  justify-content: flex-end;
  button {
    padding: 10px;
    color: #f5f5f5;
    font-size: 1rem;
    border: solid 1px #ccc;
    border-radius: 5px;
    letter-spacing: 1px;
    background-color: #314ca3;
    cursor: pointer;
  }
  .disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}
